.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #000000;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(255, 253, 253);
}

.App-link {
  color: #4a808f;
}

.cardPersonalizada {
  max-width: 50rem;
}

.textCard {
  font-size: 14px; 
  text-align: justify; 
}

input[type="text"] {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
  background-color: #f2f2f2;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s;
  font-size: 16px;
}

input[type="text"]:focus {
  outline: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.borde {
  border: none; 
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Definir animación para el título */
@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

/* Definir animación para la tarjeta */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Aplicar animación al título */
.mb-4 {
  animation: slideInFromLeft 1s ease-in-out;
}

/* Aplicar animación a las tarjetas */
.cardPersonalizada {
  animation: fadeIn 1s ease-in-out;
}

/* Estilos para el mensaje de error */
.error-message {
  color: red;
  font-size: 14px;
  margin-top: 10px;
}

.imagen-encabezado {
  width: 150px; /* Ajusta el valor según tus necesidades */
  height: auto; /* Esto mantendrá la proporción original de la imagen */
}
